.font-weight-ligth {
  font-weight: 300;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

.contenidoNav {
  position: fixed;
  top: 0;
  z-index: 1;
}

.contenidoNav img {
  border-radius: 50px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.contenidoNav img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 44px;
}

.dropdownColorsito, .contenidoNav {
  background-color: #dfe1acf2;
}

.textoColorsito {
  color: #F05F31 !important;
  font-size: 1.25rem;
}

.contenidoFullscreen {
  background: url(../imagenes/fullscreen3.jpg);
  height: 100%;
  z-index: 1000;
}

.contenidoAnimalesHome, .contenidoContacto {
  margin-top: 100px;
}

.contenidoTitulo {
  margin-top: 150px;
}

.contenidoTitulo h1 {
  font-size: 5rem;
  padding: 0 1em;
  background-color: #f05f31a1;
  color: #fff;
}

@media (max-width: 768px) {
  .contenidoTitulo h1 {
    font-size: 3rem;
    padding: 0 1em;
  }
}

.cotenidoSubtitulo {
  margin-top: 30px;
}

.cotenidoSubtitulo h2, .cotenidoSubtitulo h3 {
  font-size: 2.5rem;
  padding: 0 1em;
  color: #F05F31;
}

@media (max-width: 768px) {
  .cotenidoSubtitulo h2, .cotenidoSubtitulo h3 {
    font-size: 1.5rem;
    padding: 0 1em;
  }
}

.contenidoAnimalesHome__imagen {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  margin-top: 40px;
}

.contenidoAnimalesHome__imagen img {
  height: 400px;
  margin: 55px;
}

.contenidoAnimalesHome__imagen img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 44px;
  border: 2px solid #F05F31;
}

.gatoImagenAnimacion {
  -webkit-animation-name: gato;
          animation-name: gato;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes gato {
  0% {
    top: 100%;
    margin-top: -50px;
  }
  100% {
    top: 0;
  }
}

@keyframes gato {
  0% {
    top: 100%;
    margin-top: -50px;
  }
  100% {
    top: 0;
  }
}

.carruselRazaGato p {
  font-size: 2rem;
  padding: 0 1em;
}

@media (max-width: 768px) {
  .carruselRazaGato p {
    font-size: 0.8rem;
    padding: 0 1em;
  }
}

.carruselRazaGato img {
  -o-object-fit: cover;
     object-fit: cover;
}

.botonEnviar input {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.botonEnviar input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 50px;
  background-color: #dfe1acf2;
}

.perroCocina {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.perroCocina:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pieDeContacto {
  border-radius: 50px;
  background-color: #dfe1acf2 !important;
}

.pieDeContacto ul li {
  font-weight: 500;
  list-style-type: none;
}
/*# sourceMappingURL=estilo.css.map */