body{
	font-family: 'Nunito', sans-serif;
}

.contenidoNav{ 
	background-color: #dfe1acf2; /*#dfe1ac6e;*/
	position: fixed;
	top: 0;	
	z-index: 1;
	border-radius: 50px;

}
.navbar-brand img{
	border-radius: 50px;

	transition: all 250ms ease-in-out;
}
.dropdownColorsito{
	background-color: #dfe1ac6e ;
}
.navbar-brand img:hover{
	transform: scale(1.1);		
	border-radius: 44px;
}
.textoColorsito{
	color: #F05F31 !important;
	font-size: 1.25rem;
}
.contenidoFullscreen{
	background: url(../imagenes/fullscreen3.jpg);
	height: 100%;
	z-index: 1000;

	
}
.contenidoTitulo {
	margin-top: 150px;
	

}
.contenidoTitulo h1{
	font-size: 5rem;
	padding: 0 1em;
	background-color: #f05f31a1 ;
	color: #fff;

}
.cotenidoSubtitulo{
	margin-top: 30px;
}
.cotenidoSubtitulo h2{
	font-size: 2.5rem;
	padding: 0 1em;
	color: #F05F31

}
.contenidoAnimalesHome{
	margin-top: 100px;

}
.contenidoAnimalesHome__imagen{
	transition: all 250ms ease-in-out;
	margin-top: 40px;

}
.contenidoAnimalesHome__imagen img{
	height: 400px;
	margin: 55px;

}
.contenidoAnimalesHome__imagen img:hover{
	transform: scale(1.1);		
	border-radius: 44px;
	border: 2px solid #F05F31;
}
.contenidoContacto{
	margin-top: 100px;
}


/*.contenidoPerro, .contenidoGato, .contenidoCerdo{
	margin-top: 50px;
}*/


.pieDeContacto {
	border-radius: 50px;
	background-color: #dfe1ac6e !important;

}
.pieDeContacto ul li{
	list-style-type: none;
}

@media (max-width: 768px){
	.contenidoTitulo h1{
		font-size: 3rem;
		padding: 0 1em;
		
	}
	.cotenidoSubtitulo h2{
		font-size: 1.5rem;
		padding: 0 1em;

	}
	

}



