* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

.contenidoNav{ 
    border-radius: 100px;
	@extend .dropdownColorsito;
	position: fixed;
	top: 0;	
    right: 0;
	z-index: 1;
    img{
        border-radius: 50px;
        transition: all 1s ease-in-out;  
        &:hover{
            transform: rotate(360deg);		
            border-radius: 100px;
            box-shadow: 0px 0px 15px 15px $amarillo;
        }
    }
}
.dropdownColorsito{
	@include fondo();
}
.textoColorsito{
	color: $naranja !important;
	font-size: 1.25rem;
    
}
.contenidoFullscreen{
	background: url(../imagenes/fullscreen3.jpg);
	height: 100%;
	z-index: 1000;	
}
.contenidoAnimalesHome, .contenidoContacto{
	margin-top: 100px;
}
.otrosSitio{
    border-radius: 50px;
    a{
        color: #000;
        img{
            border-radius: 100px;
        }
        .boton{ 
            &:hover {
               color: $amarillo; 
               background-color: #000;         
            }
        }
    }
}   
.contenidoTitulo {
	margin-top: 150px;
    h1{
        border-radius: 100px;
        @include LetraT(5rem, 0 1em);  
        background-color: #f05f31a1 ;
        color: #fff;
        @media (max-width: 768px){
            @include LetraT(3rem, 0 1em);          
        }
    }
}
.cotenidoSubtitulo{
	margin-top: 30px;
   
    h2, p{
        @include LetraT(2.5rem, 0 1em);   
        color: $naranja;
        @media (max-width: 768px){
            @include LetraT(1.5rem, 0 1em);
        }   
    } 
    h3{
        @extend h2;
    }         
} 
.borde{
    img{
    border-radius: 100px;
}
}
.contenidoAnimalesHome__imagen{
	transition: all 3s ease-in-out;
	margin-top: 40px;
    img{
        border-radius: 50px;
        height: 400px;
        margin: 55px;
        &:hover{
            transform: scale(1.1);		
            border-radius: 100px;
            filter: saturate(200%);;
            border: 2px solid $naranja;
        }
    }
}
.gatoImagenAnimacion{
	animation-name: gato;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
    @keyframes gato {
        0%{
            top: 100%;
            margin-top: -50px;       
        }       
        100%{
            top: 0;       
        }       
    }
}
.carruselRazaGato{ 
    p { 
        @include LetraT(2rem, 0 1em);
        @media (max-width: 768px){
            @include LetraT(0.8rem, 0 1em);
        }
    }
    img{
        object-fit: cover;
    }
    
}
.botonEnviar {
    input{
        transition: all 250ms ease-in-out;
        &:hover {
            transform: scale(1.1);		
            border-radius: 50px;
            background-color: $amarillo;
        }
    }    
}
.logoEnvio{
    transition: all 2s ease-in-out;   
    img{ 
        border-radius: 100px;
        opacity: 0.8;
        &:hover{  
            transform: scale(0.8); 
            opacity: 1;  
        }
    }
}
.letraEnvio{
    h2{
        color: $naranja;
        @include LetraT(2.5rem, 0 1em);
        @media(max-width: 768px){
            @include LetraT(0.8rem, 0 1em);
        }
    }    
}

.perroCocina{
    transition: all 250ms ease-in-out;	
    &:hover{
        transform: scale(1.1);
        border-radius: 100px;  
    }
}
.pieDeContacto {
	border-radius: 50px;
	background-color: $amarillo !important;
    ul{
        li{
            font-weight: map-get($miMap, medium );
            list-style-type: none;
            a{
                color:#000
            }
        }
    }
}    